html, body {
  height: 100%;
}

body {
  background-color: #222;
  color: white;
}

.App {
  font-family: 'Inter Tight', sans-serif;
}

a {
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}