[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin = "*"
django-environ = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-filter = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
